<div id="home-banner">
  <div id="video-div">
    <video autoplay muted loop id="myVideo">
      <source src="https://res.cloudinary.com/dk4ojzhp0/video/upload/v1624191094/production_ID_4504643_igncoj_2_tekr6z.mp4" type="video/mp4">
    </video>
  </div>
  <div style="height:0px">
    <h1 id="slogan">Are you looking to <strong>adopt a pet </strong> but don't know where to start?</h1>
    <%= link_to pets_path do %>
      <div id="home-button">
        visit us
      </div>
    <% end %>
  </div>

  <div class="info-home">
    <div style="display:flex">
      <i class="fas fa-cat"></i>
      <div>
        <h4><strong>Find Your Perfect Pet</strong></h4>
        <p><strong>Sign-Up</strong> and get access to our custom matching system to finds your ideal pet.</p>
      </div>
    </div>
    <div style="display:flex">
      <i class="fas fa-user-check"></i>
      <div>
        <h4><strong>Certified Adoption Centres</strong></h4>
        <p>All your users are certified. Know from whom you are adopting.</p>
      </div>
    </div>
    <div style="display:flex">
      <i class="fas fa-comments"></i>
      <div>
        <h4><strong>Direct Communication</strong></h4>
        <p>Get in touch with Adoption Centres directly from our website.</p>
      </div>
    </div>
  </div>
    <div class="slider-container">
      <% if current_user && current_user.species != "no preference" %>
        <h1>Top Picks For You</h1>
      <% else %>
        <h1>Meet Our Pets</h1>
      <% end %>
      <%= render 'shared/carousel' %>
    </div>
</div>
