<div id="home-banner">
  <h1 style="color:white; margin-left: 48px; width: 600px;">Are you looking to <strong>adopt a pet</strong> but don't know where to start?</h1>
  <div id="home-button">
    <%= link_to "Visit us", pets_path, id: "pets"%>
  </div>
</div>
