
.dropdown {
  .btn {
    background: transparent;
    color: black;
    border: 0px;
    outline: none;
    border-style: none;
  }
  .btn-secondary.dropdown-toggle {
    color: black;
    background-color: transparent;
    border: 0px;
  }
  .dropdown-menu {
    font-size: 12px;
    border-radius: 8px;
    border: 0px;
    &:hover {
      background-color: black;
    }
  }
  .btn-secondary:focus {
    color: black;
    background-color: transparent;
    border: 0px;
  }
}

.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
  border: 0px;
  color: $pawsome-pink;
}
