#home-banner {
  background-position: center;
  background-size: cover;
  color: #eee;
  padding-top: 40vh;
  margin-bottom:200px;
}
#myVideo {
  position: absolute;
  width:100%;
  z-index:-1;
  top: -50px;
}

#home-button {
    #pets{
      text-decoration: none;
      color: white;
    }
    text-align: center;
    margin-left: 290px;
    background-color: transparent;
    margin-top: 48px;
    width: 200px;
    color: white;
    padding: 12px 24px 12px 24px;
    border-radius: 24px;
    font-weight:bolder;
    background-color: $pawsome-yellow;
    justify-self: left;
    border: 1px solid $pawsome-yellow;
    &:hover{
      #pets{
        text-decoration: none;
        color: white;
      }
      border: 1px solid white;
      color: transparent;
      background-color: transparent;
      transition: 0.3s background-color ease;
      border: 1px solid white
    }
  }
