.chat-back {
  position: fixed;
  left: 48px;
  top: 120px;
}

.booking-btn {
  padding: 8px 12px;
  background-color: #ffffff;
  color: #ea907a;
  border-radius: 12px;
  border: 1px solid #ea907a;
    &:hover {
      color: #ffffff;
      background-color: #ea907a;
      border: 2px solid #ffffff;
      a {
        color: #ffffff;
      }
    }
  a {
    text-decoration: none;
    color: #ea907a;
    &:hover {
      color: #ffffff;
    }
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

h1{
  font-size: 20px;
}

.date-time {
  font-size: 12px;
}

.text-author {
  font-weight: bold;
  font-size: 14px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FBFBFA;
    position: fixed;
    width: 100%;
    min-height: 100px;
    top: 100px;
    left: 0;
    h4 {
      font-size: 20px;
    }
}

.conversation-title {
  font-size: 20px;
  text-align: center;
  h4 {
    margin: 8px 0 16px 0;
  }
}

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 60vw;
  min-height: 100%;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 24px 80px;
  .form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff2db;
    position: fixed;
    width: 100%;
    min-height: 100px;
    bottom: 0px;
    left: 0;
  }
  .message-submit {

    width: 51%;

  }
}
.message-container {
  display: flex;
  flex-direction: column;
  p {
    margin-top: 8px;
    font-size: 16px;
  }
  i {

    color: grey;
  }
}

#messages {
  padding-right: 0px;
}

.message_body {
  flex: 4
}

.message-submit form {
  display:flex;
}

.chat-button {
   flex: 1;
   margin: 8px 12px;
}

  // TODO: add bg fade
.message-container.new-message .message-text {
  text-align: left !important;
  span {
          max-width: 50%;
          display: inline-block;
          padding: 8px;
          animation: fadebackground 3s;
          color: black !important;
          border-radius: 12px;
          box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
        }
}

.message-container.sent {
  // text-align: right;
  align-items: flex-end;
  .message-text {
        max-width: 50%;
        display: inline-block;
        padding: 8px;
        background-color: #ea907a;
        border-radius: 12px;
        box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
    span {
        text-align:left;
        color: white;
      }
  }
}

.message-container.received {
  text-align: left;
  .message-text {
      span {
          max-width: 50%;
          display: inline-block;
          color: #000000;
          padding: 8px;
          background-color: white;
          border-radius: 12px;
          box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
         }
    }
}


@keyframes fadebackground {
  from {background-color: #FFCB74;}
  to {background-color: #ffffff;}
}
