


.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

h1{
  font-size: 26px;
}

.date-time {
  font-size: 12px;
}

.text-author {
  font-weight: bold;
  font-size: 14px;
}

.conversation-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 48px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  width: 60vw;
  min-height: 700px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 24px 80px;
}
.message-container {
  p {
    margin-top: 8px;
    font-size: 20px;
  }
  i {
    color: grey;
  }
}

.message-submit {

}

.message_body {
  flex: 4
}

.message-submit form {
  display:flex;
}

.chat-button {
   flex: 1;
   margin: 8px 12px;
}

  // TODO: add bg fade
.message-container.new-message p {
  text-align: left !important;
  span {
          display: inline-block;
          padding: 8px;
          animation: fadebackground 3s;
          color: black !important;
          border-radius: 12px;
          box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
        }
}

.message-container.sent {
  text-align: right;
  align-items: stretch;
  p {
    span {
        display: inline-block;
        padding: 8px;
        background-color: #91B25B;
        color: white;
        border-radius: 12px;
        box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
      }
  }
}

.message-container.received {
  text-align: left;
  p {
      span {
          display: inline-block;
          color: #000000;
          padding: 8px;
          background-color: white;
          border-radius: 12px;
          box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
         }
    }
}


@keyframes fadebackground {
  from {background-color: #FFCB74;}
  to {background-color: #ffffff;}
}
