nav {
  display: flex;
  height: 100px;
}

.navbar-transparent {
  justify-content: space-between;
  background: transparent;
  // opacity: 0.8;
  padding-left: 56px;
  padding-right:32px;
}


.navbar-white {
  background: $light-gray;
  transition: 0.3s background ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#logo-set {
  background-image: url('https://res.cloudinary.com/dk4ojzhp0/image/upload/v1623423528/PAW_jaq0mh.png');
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

#logo {
  text-align: center;
  padding-top: 6px;
  p {
    color: $pawsome-darkgrey;
    font-size: 11px;
  }
  .logo_text {
    text-decoration: none;
    font-family: $logo-font;
    font-size: 36px;
    color: $pawsome-darkgrey;
    margin: auto;
  }
}


#sign-up-section {
   align-items: center;
  .sign-up {
    text-decoration: none;
    margin: auto;
    color: black;
    padding-right: 24px;
    font-size: 14px;
    &:hover{
      color: $pawsome-yellow ;
      transition: 0.2s color ease;
    }
  }
}


#logged {
  text-decoration: none;
  margin: auto;
  color: black;
  padding-right: 24px;
  font-size: 14px;
  }
