nav {
  display: flex;
  height: 100px;
}

// it's moving, also everything is duplicated in another directory inside pawsome
.new-notification {
    height: 15px;
    width: 15px;
    // background-color: red;
    background-image: linear-gradient(to right, #e60000, rgba(255,0,0,1));
    border-radius: 50%;
    position: absolute;
    right: 25px;
    top:0px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}


.button {
  position: relative;
}

.navbar-transparent {
  justify-content: space-between;
  background: transparent;
  // opacity: 0.8;
  padding-left: 56px;
  padding-right:32px;
  #sign-up-section {
     align-items: center;
    .sign-up {
      text-decoration: none;
      margin: auto;
      color: white;
      padding-right: 28px;
      font-size: 14px;
      text-shadow: 2px 3px 15px rgba(0,0,0,0.9);
      &:hover{
        color: $pawsome-yellow ;
        transition: 0.2s color ease;
      }
    }
  }
}

.navbar-white-none {
  justify-content: space-between;
  background: transparent;
  // opacity: 0.8;
  padding-left: 56px;
  padding-right:32px;
  background: $light-gray;
  transition: 0.3s background ease;
  #sign-up-section {
    align-items: center;
    .sign-up {
      text-decoration: none;
      margin: auto;
      padding-right: 28px;
      font-size: 14px;
      color: $pawsome-darkgrey;
      text-shadow: 0px 0px 0px rgba(0,0,0,0.0);
      &:hover{
        color: $pawsome-yellow ;
        transition: 0.2s color ease;
      }
    }
  }
}

.navbar-white {
  justify-content: space-between;
  background: transparent;
  // opacity: 0.8;
  padding-left: 56px;
  padding-right:32px;
  background: $light-gray;
  transition: 0.3s background ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  #sign-up-section {
    align-items: center;
    .sign-up {
      text-decoration: none;
      margin: auto;
      padding-right: 28px;
      font-size: 14px;
      color: $pawsome-darkgrey;
      text-shadow: 0px 0px 0px rgba(0,0,0,0.0);
      &:hover{
        color: $pawsome-yellow ;
        transition: 0.2s color ease;
      }
    }
  }
}

#logo-set {
  background-image: url('https://res.cloudinary.com/dk4ojzhp0/image/upload/v1623423528/PAW_jaq0mh.png');
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

#logo {
  text-align: center;
  padding-top: 6px;
  p {
    color: $pawsome-darkgrey;
    font-size: 11px;
  }
  .logo_text {
    text-decoration: none;
    font-family: $logo-font;
    font-size: 36px;
    color: $pawsome-darkgrey;
    margin: auto;
  }
}





// #logged {
//   text-decoration: none;
//   margin: auto;
//   color: black;
//   padding-right: 24px;
//   font-size: 14px;
//   }
