
#main-container{
  display:flex;
  justify-content: space-between;
  margin: 120px 36px 36px 36px;
}
#pet-container {
  
}

.linkable {
  text-decoration: none;
}
.pet-card-container {
  margin-top: 20px;
  width: 760px ;
  height: 230px;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
  }
}
.pet-card {
  display: flex;
}

.img-container {
  border-radius: 8px 8px 8px 8px;
}

.right-card {
  margin: 8px 24px 8px 24px;;
  p {
    color: black;
    margin-bottom: 3px;
  }
}

#matching {
  bottom: -8px;
  color:$pawsome-green;
  font-weight: bold;
  text-align: right;
}

#pet-image-container {
  margin: 100px;
}

.pet_image {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.controls-top {
  
  a {
    color: green;
  }
}

.pet-info {
  margin: 48px 0px 24px 24px;
  padding: 18px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  border-radius: 8px 8px 8px 8px;
  width: 100%;
  }

// use me
