
#main-container{
  display:flex;
  justify-content: space-between;
  margin: 120px 36px 36px 36px;
}
#pet-container {
}

.linkable {
  text-decoration: none;
}
.pet-card-container {
  margin-top: 20px;
  width: 760px ;
  height: 230px;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
  }
}
.pet-card {
  display: flex;
}

.img-container {
  border-radius: 8px 8px 8px 8px;
}

.right-card {
  margin: 8px 24px 8px 24px;;
  p {
    color: black;
    margin-bottom: 3px;
  }
}

#matching {
  bottom: -8px;
  color:$pawsome-green;
  font-weight: bold;
  text-align: right;
}

a:-webkit-any-link {
  text-decoration: none;
}

// use me
