
#main-container{
  display:flex;
  justify-content: space-between;
  margin: 130px 36px 36px 36px;
}
#pet-container {
  
}


a:hover{
  text-decoration:none;
}

.linkable {
  text-decoration: none;
}
.pet-card-container {
  margin-top: 20px;
  width: 760px ;
  height: 230px;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
  }
}
.pet-card {
  display: flex;
}

.img-container {
  border-radius: 8px 8px 8px 8px;
}

.right-card {
  margin: 8px 24px 8px 24px;;
  p {
    color: black;
    margin-bottom: 3px;
  }
}

#matching {
  bottom: -8px;
  color:$pawsome-green;
  font-weight: bold;
  text-align: right;
}

#pet-image-container {
  margin: 100px;
}

// ------------------------------- PET SHOW PAGE STYLING--------------------------------------------

// pet show image carousel
.pet_image {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
 
}


// pet show
.pet-info {
  margin: 48px 0px 24px 24px;
  padding: 18px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  border-radius: 8px 8px 8px 8px;
  width: 100%;
  }
// pet show page
  .pet-show-title h1 {
  font-size: 50px;

  }
  .back {
    text-decoration: none;
    color: #000000;
    &:hover{
      text-decoration: none;
      color: $pawsome-yellow;
      transition: 0.3s;
    }
  }

  ol, ul, dl {
    margin-top: 0;
    margin-bottom: -40px;
}
  // pet show page important info about me
  .pet-info-show {
    margin: 24px 24px 24px 0px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 36px;
    padding-bottom: 36px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    margin-right: 24px;
     .ul {
       list-style-type: none;
     }
    }

    .fa-paw:before {
      color: $pawsome-yellow;
  }
  

    // pet show page right box adoption fee etc
    .pet-info-show-2 {
      margin: 100px 0px 24px 24px;
      padding: 18px;
      box-shadow: 0 0 10px rgba(0,0,0,0.15);
      border-radius: 8px 8px 8px 8px;
      width: 100%;
      }    
      // pet show carousel
      .carousel-wrapper {
        display: flex;
        align-items: center;
      }
      // pet show carousel
      .carousel-inner {
        margin: 0 1em;
      }

      .carousel-indicators {
        margin-top: 100px;
      }

      .fa-chevron-left:before {
        color: $pawsome-green;
        padding: 10px;
        font-size: 24px;
      
    }

    .fa-chevron-right:before {
      color: $pawsome-green;
      padding: 10px;
      font-size: 24px;
      
     
  }

      .carousel-indicators li {
        background-color: $pawsome-green;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 5px;
        
      }
      .pet-show-important ul {
          list-style-type: none;
      }

      #pet-show-container{
        
        justify-content: space-between;
        margin: 130px 36px 36px 36px;
      }

// use me
