<div class="row" style="margin-top: 100px;">
  <div class="col-12 col-md-6 offset-md-3 bg-white px-3 py-2 rounded-lg shadow-lg">
    <%= simple_form_for [@pet, @enquiry] do |f| %>
      <%= f.input :message, label: 'Write a message', placeholder: "eg: Is this pet available?" %>
      <%= f.input :date, as: :string %>
      <%= f.submit 'Submit enquiry', class: "back" %>
    <% end %>
  </div>
</div>
